.namespan span{
    margin-right: 10px;
}
.containercart{
    margin-top: 120px;
}#buybtn{
    margin: auto;
}table{
    margin-top: 100px;
    font-size: 16px;
}#pricep{
    color: red;
    font-weight: bold;
    font-size: 18px;
}.remove{
    color: rgb(180, 48, 48);
}


@media  screen and (max-width: 620px) {
table{
    margin-top: -50px;
}
}